.container {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.top {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-around;
}

.top > * {
  background: var(--sbg);
  border: 2px double var(--bordercolor);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.top > span {
  color: #fff;
  pointer-events: none;
}

a {
  color: var(--sbcolor);
  cursor: pointer;
}

a:hover {
  color: #fff;
}

.container {
  padding: 0 15rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 1rem;
    padding-bottom: 2rem;
  }
}
