section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  /* background: #fff; */
  /* padding: 0.25rem 0.4rem; */
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
}

.users {
  background: #fff;
  padding: 0.2rem;
  border-radius: 50%;
}

.user {
  padding: 0.2rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.user:hover {
  background: var(--bordercolor);
}

img {
  border-radius: 50%;
  height: 1.5rem;
  pointer-events: none;
}

input {
  font-size: 0.85rem;
  background: #fff;
  padding: 0.3rem 0.6rem;
  height: 2rem;
  width: 100%;
  border-radius: 0.35rem;
}

input:focus {
  border: 1px double rgba(0, 0, 0, 0.658);
}

.status > fa-icon {
  background: #fff;
  padding: .3rem .4rem;
  border-radius: 50%;
  opacity: 0.7;
  cursor: pointer;
}

.status > fa-icon:hover {
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .users {
    display: none;
  }
  img {
    height: 3rem;
  }

  .status {
    padding: 0.75rem 1rem;
    width: 40%;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
  }
}
