section {
  text-align: center;
  color: var(--sbcolor);
  height: 100vh;
  padding: 1.5rem;
}

h3 {
  border: 1px solid var(--bordercolor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.15rem;
  gap: 0.9rem;
  padding: .8rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

fa-icon:nth-child(3) {
  margin-left: auto;
}
fa-icon:nth-child(3):hover {
  color: #fff;
}

.list {
  background: var(--sbg);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  height: 100%;
  border: 2px double var(--bordercolor);
  border-radius: .5rem;
}

@media screen and (min-width: 600px) {
  fa-icon:nth-child(3) {
    display: none;
  }
}
