a {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: .85rem;
    padding: .6rem 1rem;
    margin: 0 .5rem;
    border: 1px transparent var(--bg);
}

a:hover {
    background: var(--bordercolor);
    color: #fff;
    border-radius: .25rem;
}

a > img {
    width: 1.5rem;
    border-radius: 50%;
}